.banner-qs {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.bg-gris {
  background-color: #f2f2f2; }

.bg-gris-2 {
  background-color: #e6e6e6; }

.fondo-quienes {
  background: url("../img/banner-quienes-somos.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.banner {
  background: url("../img/banner-principal.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .banner .fondo {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh; }
  .banner .container {
    width: 60%; }

.banner-2 {
  background: url("../img/banner-2.jpg");
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .banner-2 .container {
    width: 60%; }

@media (max-width: 576px) {
  .banner-2 .container {
    width: 100%; } }

footer {
  background-color: #000000;
  padding: 50px;
  color: #ffffff; }
  footer .flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center; }
    footer .flex-center p {
      margin: 0; }
      footer .flex-center p a {
        color: #F55000; }
  footer .redes-sociales {
    margin: 0;
    padding: 0;
    list-style: none; }
    footer .redes-sociales li {
      padding-left: 0.8rem;
      font-size: 1.5rem; }
      footer .redes-sociales li a {
        color: #F55000; }

.nuestros-clientes .fa {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  background: #e64d00;
  color: #ffffff;
  padding: 1.3rem 1.7rem;
  margin-bottom: .8rem; }

body {
  font-family: 'Lato', sans-serif; }

.nuestros-clientes img {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important; }

.dr {
  display: none !important; }

.res {
  display: block; }
