@import 'components/variables';
@import 'components/general';
@import 'components/banner';
@import 'components/footer';
@import 'components/clientes';
body {
  font-family: 'Lato', sans-serif;
}

.nuestros-clientes {
  img {
    box-shadow: $sombra;
  }
}

.dr {
  display: none !important;
}

.res {
  display: block;
}