.banner {
  background: url('../img/banner-principal.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .fondo {
    background-color: rgba(0, 0, 0, .2);
    height: 100vh;
  }
  .container {
    width: 60%;
  }
}

.banner-2 {
  background: url('../img/banner-2.jpg');
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    width: 60%;
  }
}

@media (max-width: 576px) {
  .banner-2 {
    .container {
      width: 100%;
    }
  }
}