footer {
  background-color: #000000;
  padding: 50px;
  color: #ffffff;
  .flex-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    p {
      margin: 0;
      a {
        color: $colorPrimary;
      }
      ;
    }
  }
  .redes-sociales {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      padding-left: 0.8rem;
      font-size: 1.5rem;
      a {
        color: $colorPrimary;
      }
    }
  }
}